ul {
  display: inline-flex;
}

.city {
  pointer-events: unset;
  z-index: -1;
}

.slider {
  border-bottom: 5px solid rgb(0, 0, 0, 0.25);
  padding: 15px;
}

li {
  display: block;
  cursor: grab;
  color: rgb(0, 0, 0, 0.25);
  list-style: none;
  /* border-bottom: 5px solid rgb(0, 0, 0, 0.25); */
}

.city:hover {
  color: blue;
}

.selected {
  font-weight: 800;
  color: black !important;
}

.active {
  border-bottom: 5px solid rgb(0, 0, 0, 1) !important;
  transition: 1s, 5s, 5s;
}
